@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Graduate&family=K2D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-reduced-motion: no-preference) {
  #arrow {
    animation: App-logo-linear infinite 1s linear;
  }
}

@keyframes App-logo-linear {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#nav-item > .active {
    border-bottom: 2px solid #FF5719;
}